<%= render 'home/headertop' %>
<%= render 'home/sidemenu' %>
  
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">     
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
      <li>Profile</li>
      <li class="active">Edit</li>
    </ol>
  </div><!--/.row-->
  
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Edit Profile</h1>
    </div>
  </div><!--/.row-->
  
  <%= nested_form_for @profile do |f| %>
    <div class="row">
      <div class="col-lg-12">
        <div id="menu1" class="admin_leftNav">
            <div class="panel list-group">
              <a href="#" class="list-group-item" data-toggle="collapse" data-target="#RA1" data-parent="#menu1">Basic Info</a>
              <div class="panel-body">
                <div id="RA1" class="sublinks collapse in">
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                        <% if @profile.errors.any? %>
                         <div id="error_explanation">
                           <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

                           <ul>
                           <% @profile.errors.full_messages.each do |message| %>
                             <li><%= message %></li>
                           <% end %>
                           </ul>
                         </div>
                        <% end %>
                        <label>Name</label>
                        <%= f.text_field :name, :class => "form-control",:placeholder => "First Name" %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                         <label>Date of Birth</label>
                         <input class="form-control" type="text" placeholder="click to show datepicker" id="example1">
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                         <label>Gender</label>
                           <%= f.select :gender,[["Male", "Male"],["Female", "Female"]],{},{:class => "form-control"} %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                         <label>Married Status:</label>
                           <%= f.select :marital_status,[["Married", "Married"],["Never Married", "Never Married"],["Windowed","Windowed"],["Divorced","Divorced"],["Awaiting Divorced","Awaiting Divorced"]],{},{:class => "form-control",:id => "marital_status"} %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                         <label>Mobile</label>
                           <%= f.number_field :mobile, :class => "form-control" %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                         <label>Blood Group:</label>
                           <%= f.select :blood_group,[["A+", "A+"],["A-", "A-"],["B+", "B+"],["B-", "B-"],["O+", "O+"],["O-", "O-"],["AB+", "AB+"],["AB-", "AB-"]],{},{:class => "form-control", :include_blank => 'Choose your bloog group'} %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#" class="list-group-item" data-toggle="collapse" data-target="#RA2" data-parent="#menu1">Educational Info</a>
              <div class="panel-body">
                <div id="RA2" class="sublinks collapse">
                <%= f.fields_for :educations do |ed| %>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label>Institution Name:</label>
                         <%= ed.text_field :institution,:class => "form-control",:placeholder => "Institution" %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label>Year of Completion:</label>
                         <%= ed.text_field :year_of_completion,:class => "form-control",:placeholder => "Year of Completion" %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label>Education Type:</label>
                         <%= ed.text_field :type_of_education,:class => "form-control",:placeholder => "Type of Education" %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label>City:</label>
                          <%= ed.text_field :city,:class => "form-control",:placeholder => "City" %>
                      </div>
                    </div>
                    <%= ed.link_to_remove "Remove this detail"%>
                  </div>
                <% end %>
                <%= f.link_to_add "Add education details",:educations, :class => "btn btn-primary"  %>
                </div>
              </div>
              <a href="#" class="list-group-item" data-toggle="collapse" data-target="#RA3" data-parent="#menu1">Location</a>
              <div class="panel-body">
                <div id="RA3" class="sublinks collapse">
                <%= f.fields_for :location do |loc| %>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label>Pincode:</label>
                         <%= loc.text_field :pin_code,:class => "form-control",:placeholder => "Pincode" %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label>City:</label>
                         <%= loc.text_field :city,:class => "form-control",:placeholder => "City" %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label>District:</label>
                         <%= loc.text_field :district,:class => "form-control",:placeholder => "District" %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label>Address:</label>
                         <%= loc.text_field :address,:class => "form-control",:placeholder => "Address" %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label>Address Type:</label>
                         <%= loc.text_field :address_type,:class => "form-control",:placeholder => "Address Type" %>
                      </div>
                    </div>
                    <%= loc.link_to_remove "Remove this detail"%>
                  </div>
                <% end %>
                <%= f.link_to_add "Add Location details",:location, :class => "btn btn-primary"  %>
                </div>
              </div>
             <a href="#" class="list-group-item" data-toggle="collapse" data-target="#RA4" data-parent="#menu1">Family Members</a>
              <div class="panel-body">
                <div id="RA4" class="sublinks collapse">
                <%= f.fields_for :family_members do |fm| %>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label>Name:</label>
                         <%= fm.select :member_id, options_for_select(@profiles.map{ |profile| [profile['name'], profile['id']] }), :class => "form-control" %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label>Relationship:</label>
                         <%= fm.text_field :relationship, :class => "form-control" %>
                      </div>
                    </div>
                    <%= fm.link_to_remove "Remove this member"%>
                  </div>
                <% end %>
                <%= f.link_to_add "Add Family Member",:family_members, :class => "btn btn-primary"  %>
                </div>
              </div>            
            </div>
          </div>
      </div>
    </div><!--/.row-->
    <%= submit_tag 'submit' %>
  <% end %>
</div>  <!--/.main-->