<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Father Name</th>
      <th>Age</th>
      <th>Dob</th>
      <th>Email</th>
      <th>Pincode</th>
      <th>City</th>
      <th>Residence Address</th>
      <th>Gender</th>
      <th>Occupation</th>
      <th>Education</th>
      <th>Married Status</th>
      <th>Office Address</th>
      <th>Caste</th>
      <th>Mobile</th>
      <th>Blood group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.name %></td>
        <td><%= profile.father_name %></td>
        <td><%= profile.age %></td>
        <td><%= profile.dob %></td>
        <td><%= profile.email %></td>
        <td><%= profile.pincode %></td>
        <td><%= profile.city %></td>
        <td><%= profile.address %></td>
        <td><%= profile.gender %></td>
        <td><%= profile.occupation%></td>
        <td><%= profile.education%></td>
        <td><%= profile.married_status%></td>
        <td><%= profile.office_address%></td>
        <td><%= profile.caste %></td>
        <td><%= profile.mobile %></td>
        <td><%= profile.blood_group %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
