<p id="notice"><%= notice %></p>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background-color: #1FAE66;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Trichy Reddiars Community</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
            <% if current_user.present? %>
               <li><%= link_to 'Profile', profile_path(@profile), :class => "page-scroll" %></li>
              <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "page-scroll" %></li>
            <% else %>
              <li><%= link_to 'Login', new_user_session_path, :class => "page-scroll" %></li>
            <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div> 
</nav>
        <!-- /.container-fluid -->
<body id="pages" class="full-layout  nav-right-hide nav-right-start-hide  nav-top-fixed      responsive    clearfix" data-active="pages " data-smooth-scrolling="1" style="margin-top: 45px;">
<div class="vd_body">
<!-- Header Start -->

<!-- Header Ends --> 
    <div class="content">
        <div class="container">

        <!-- Middle Content Start -->

        <div class="vd_content-wrapper">
        <div class="">
        <div class="vd_content clearfix">

<!--  <div class="vd_title-section clearfix">
<div class="vd_panel-header no-subtitle">
<h1>User Profile Page</h1>
</div>
</div> -->
            <div class="vd_content-section clearfix">
              <div class="row">
                <div class="col-sm-3">
                  <div class="panel widget light-widget panel-bd-top">
                    <div class="panel-heading no-title"> </div>
                    <div class="panel-body">
                      <div class="text-center vd_info-parent">
                        <%= form_tag("/search", method: "get", :class => 'comment_form') do %>
                          <%= label_tag(:name, "name:") %>
                          <%= text_field_tag(:name) %>
                          <%= label_tag(:pincode, "pincode:") %>
                          <%= text_field_tag(:pincode) %>
                          <hr />
                          <%= submit_tag("Search") %>
                        <% end %>
                      </div>
                      
                    </div>
                  </div>
                  <!-- panel widget -->

                  <div class="panel widget light-widget">

                  </div>
                  <!-- panel widget --> 
                </div>
                    <div class="col-sm-9">
                    <div class="panel widget light-widget panel-bd-top">
                    <div class="panel-heading no-title"> </div>
                    <div class="panel-body">
                    <% if @profiles_pin.present? %>
                     <%= @profiles_pin.each do |profile| %>
                        <div class="row">
                            <div class="col-sm-6">
                              <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Full Name:</label>
                                <div class="col-xs-7 controls"><%= profile.name%></div>
                                <!-- col-sm-10 --> 
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Image:</label>
                                <div class="text-center vd_info-parent"><%= image_tag profile.image.url(:medium) %>
          </div>
                                <!-- col-sm-10 --> 
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Father Name:</label>
                                <div class="col-xs-7 controls"><%= profile.father_name %></div>
                                <!-- col-sm-10 --> 
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Email:</label>
                                <div class="col-xs-7 controls"> <%= profile.email %></div>
                                <!-- col-sm-10 --> 
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Username:</label>
                                <div class="col-xs-7 controls"><%=  profile.user.username%></div>
                                <!-- col-sm-10 --> 
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">pincode:</label>
                                <div class="col-xs-7 controls"><%=  profile.pincode%></div>
                                <!-- col-sm-10 --> 
                              </div>
                            </div>
                         </div>
                         <hr />
                        <% end %>
                    <% else %>

                    <% end %>  
                    </div>
                  </div>
                    </div>
               </div>
            </div>
       </div>
       </div>
       </div>
    </div>
   </div>
</div>
   </body>



