<!DOCTYPE html>
<html lang="en">
<head>
  <title>Trichy Reddiars Community</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css"> 

  
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="js/custom.js"></script>

</head>
<body>


 <%= render 'menu' %>

<!-- ///////////////////////////Slider Start /////////////////////////////// --> 

<div class="container-fluid" style="margin-top:-20px !important;">
<div class="row">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li style="background-color:#2c93d5;" data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li style="background-color:#2c93d5;" data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li style="background-color:#2c93d5;" data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li style="background-color:#2c93d5;" data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li style="background-color:#2c93d5;" data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
    <%= image_tag("slider-001.jpg", :alt => "rss feed") %>
    </div>
    <div class="item">
     <%= image_tag("slider-002.jpg", :alt => "rss feed") %>
    </div>
    <div class="item">
      <%= image_tag("slider-003.jpg", :alt => "rss feed") %>
    </div>
    <div class="item">
     <%= image_tag("slider-004.jpg", :alt => "rss feed") %>
    </div>
    <div class="item">
    <%= image_tag("slider-005.jpg", :alt => "rss feed") %>
    </div>
  </div>
 
  <!-- Controls -->
 <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->


</div>
</div>

<!-- ///////////////////////////Slider End /////////////////////////////// --> 

<!-- /////////////////////  Main Body Start ////////////////////////////// -->
<div class="container-fluid" style="background-color:#fecb00;">
<div class="row"> 

<div class="col-sm-2 text-center" style="padding:30px;">
</div>

<div class="col-sm-6"> 
    <ul class="list-unstyled" style="margin-top:10px;" >
    <li style=" padding-bottom:3px;"> <a href="#"> <span class="glyphicon glyphicon-link"></span> Members List</a>  </li> 
    <li> <a href="#"> <span class="glyphicon glyphicon-link"></span> Photo Gallery</a> </li>
    <li> <a href="#"> <span class="glyphicon glyphicon-link"></span> News and Events </a> </li>
    <li> <a href="#"> <span class="glyphicon glyphicon-link"></span> Contact Us</a> </li> 
    </ul>
</div>



  

<div class="text-center" style="padding:30px;">
    <div class="navbar-form pull-right">
    <div class="input-group">
      <%= form_tag '/search', :method => "post" do %>
      <%= text_field_tag :name,nil, :class => "form-control input-lg",:placeholder => "Find People" %>
       <div class="input-group-btn">
                        <button class="btn btn-default input-lg" type="submit"><i class="glyphicon glyphicon-search "></i></button>
        </div>
        <%#= submit_tag 'search' %>
      <%end %>
    </div>
    </div>
    </div>
</div>
            
  
</div>

</div>
</div>
<!-- /////////////////////  Main Body End ////////////////////////////// -->
 

<!-- Pop up Sign Up Panel Starts Here  -->    
  <div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
                  
            <div class="container-fluid" style="margin-top:40px">
            <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-default">
                  <div class="panel-heading" style="text-align: center;">
                    <strong>Join with our Community</strong> 
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                                    
                                    <p class="text-center" style="padding:20px; padding-bottom:0px !important;  line-height:25px;">Welcome to REDDIARS COMMUNITY </p> 
                  <div class="panel-body">
                    <form role="form" action="#" method="POST">
                      <fieldset>
                         <div class="row">
                          <div class="col-sm-12">
                            
                                                        <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon">
                                  <i class="glyphicon glyphicon-user"></i>
                                </span> 
                                <input class="form-control" placeholder="Name" name="Name" type="text" autofocus>
                              </div>
                            </div>

                                                        
                                                         <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon">
                                  <i class="glyphicon glyphicon-phone"></i>
                                </span> 
                                <input class="form-control" placeholder="Phone" name="Phone" type="text" autofocus>
                              </div>
                            </div>
                                                        
                                                         <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon">
                                  <i class="glyphicon glyphicon-envelope"></i>
                                </span> 
                                <input class="form-control" placeholder="Email Id" name="Emailid" type="text" autofocus>
                              </div>
                            </div>                                                       
                                                        
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon">
                                  <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <input class="form-control" placeholder="Message" name="message" type="text" value="">
                              </div>
                            </div>
                            <div class="form-group">
                              <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign Up">
                            </div>
                          </div>
                        </div>
                        
                      </fieldset>
                    </form>
                  </div>
                  
                         </div>
              </div>
            </div>
          </div>

      </div>
      </div>
    </div>
  <!-- Pop up Sign Up Panel Ends Here  -->
    
    
    <!-- Pop up Login Panel Starts Here  -->    
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
                  
            <div class="container-fluid" style="margin-top:40px">
            <div class="row">
              <div class="col-sm-8">
                <div class="panel panel-default">
                  <div class="panel-heading" style="text-align: center;">
                    <strong>Login</strong> 
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                                    
                                    <p class="text-center" style="padding:20px; padding-bottom:0px !important;  line-height:25px;">Welcome to REDDIARS COMMUNITY </p> 
                  <div class="panel-body">
                    <form role="form" action="#" method="POST">
                      <fieldset>
                         <div class="row">
                          <div class="col-sm-12">
                            
                                                        <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon">
                                  <i class="glyphicon glyphicon-user"></i>
                                </span> 
                                <input class="form-control" placeholder="User Name" name="User-Name" type="text" autofocus>
                              </div>
                            </div>

                                                                                                             
                                                         <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon">
                                  <i class="glyphicon glyphicon-lock"></i>
                                </span> 
                                <input class="form-control" placeholder="Password" name="password" type="password" autofocus>
                              </div>
                            </div>                                                       

                            <div class="form-group">
                              <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign Up">
                            </div>
                          </div>
                        </div>
                        
                      </fieldset>
                    </form>
                  </div>
                  
                         </div>
              </div>
            </div>
          </div>

      </div>
      </div>
    </div>
  <!-- Pop up Login Panel Ends Here  -->
    
    
<!-- /////////////////////  Footer Start ////////////////////////////// -->
<div class="container-fluid" id="footer" >
<div class="row"> 
    <div class="col-sm-12 text-center"> 
    <a href="#">About Us </a> <span class="footer-pipe"> | </span> <a href="#"> Members List </a> <span class="footer-pipe"> | </span> <a href="#"> Gallery </a> <span class="footer-pipe"> | </span> <a href="#"> News and Events </a> <span style="color:#CCC; margin:15px"> | </span> <a href="#"> Contact Us</a> </div>

</div>
</div>
<!-- /////////////////////  Footer End ////////////////////////////// -->


</body>
</html>
